@import url('//fonts.googleapis.com/css?family=Simonetta');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 20px;
  width: 100%;
  background-color: #3F7CAC;
  color: #FCF646;
  font-family: 'Simonetta', sans-serif;}

header.welcome {
  text-align: center;
  background: #7C929B;
  width: 95%;
  font-size: 30px;
  border-radius: 3px;
}

aside {
  width: 15%;
  float: left;
  background:  #7C929B;
  text-align: center;
  font-size: 18px;
  border-radius: 3px;
}

main {
  width: 70%;
  float: left;
  border-left: 1px solid #E8E1EF;
  padding-left: 5%;
  padding-right: 10%;
  height: 100%;
  text: rgba(207, 240, 158, 1);
  margin-left: 5%;
}
div.post-show .title {
  border-bottom: 5px #E8E1EF solid;
  font-size: 30px;
}
div.input-blog {
  width: 100%;
}

.post-body{

  font-size: 20px;
}

.new-post{
  font-size: 30px;
}
.all-posts-h2{
  border-bottom: 5px #E8E1EF solid;
  font-size: 30px;
}

textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.search{
  border-radius: 3px;
  width: 70%;
  padding: 10px;
  font-size: 14px;

}
.posts-link {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 15%;
  height: 20px;
  background: #7C929B;
  color: #FCF646;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
}

.new-posts-link {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 15%;
  height: 20px;
  background: #7C929B;
  color: #FCF646;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
}

.users-link{
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 15%;
    height: 20px;
    background: #7C929B;
    color: #FCF646;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
}

a {
  color: #FCF646;
  text-decoration: none;
}

button > a {
  color: buttontext;
  text-decoration: none;
}

.quote-body {
  border-left: 5px solid rgba(11,72,107, 1);
  padding-left: 5%;
  font-style: italic;
  margin-left: 3%;
}

.flash-message {
  text-align: center;
}

.flash_message-success {
  padding-bottom: 20px;
}

.flash_message-fail {
  border: 2px solid red;
  padding-bottom: 20px;
}

.icon_wrapper {
  visibility: hidden;
}
