<h2 class = "all-the-users-h2">All the Users!</h2>
<div class = "all-users">
  {{#each user in model}}
    <h2 class="title">{{#link-to 'user' user}}{{user.firstName}}{{/link-to}}</h2>
    <p>
      {{user.post.title}}
    </p>
  {{/each}}
</div>
