<h2>Add a New Post!</h2>

<div class="input-blog">
  {{textarea placeholder="Add a title!" value=titleCopy}}
  {{textarea placeholder="Add a body!" value=bodyCopy rows=20}}
</div>

<button {{action 'newPost'}}>Save</button>
<button>{{#link-to 'posts'}}Cancel{{/link-to}}</button>
